{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae repudiandae ullam possimus quis, molestiae adipisci porro eius, quaerat delectus, veniam fugit esse? Repellat quibusdam molestiae nihil facere quo deserunt inventore nulla pariatur temporibus a, est veritatis debitis sapiente. Minus perspiciatis animi quia harum eos necessitatibus et! Quia corrupti, quas illum itaque perferendis accusantium nulla quidem dolor reprehenderit tenetur rerum odio praesentium officia distinctio reiciendis architecto, nemo, tempora aliquid maiores nostrum. Maiores ab nesciunt nobis. Laudantium reprehenderit, expedita adipisci consectetur fuga asperiores inventore corrupti assumenda eaque, eius eveniet voluptas. Ab fuga cum nihil blanditiis repellendus ratione maxime perferendis cupiditate ipsum.</p>
{% endblock %}